<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>

<title>Add keluarga sukses</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel = "stylesheet" href = "/css/bootstrap.min.css"/>
</head>
	<body>
	<div th:replace = "fragments/fragment :: header" ></div>
		<div class="container">
			<h1>Sukses !</h1>
				<li th:text="'Keluarga dengan NKK ' + ${nomor_kk} + ' berhasil di tambahkan'"></li>
 			</ul> 
		</div>	
</body>
</html>